<head th:fragment="encabezado">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema informático para gestionar consultorias">
    <meta name="author" content="UCE">
    <title>SIGC</title>
    <link rel="shortcut icon" th:href="@{/img/auditoria.svg}"/>
    <!-- Cargar el CSS de Boostrap-->
    <link th:href="@{/bootstrap-4.5.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fa.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>